---
layout: archive
title: "Teaching"
permalink: /teaching/
author_profile: true
---

<h2>Graduate Courses</h2>
<h3>Graduate Student Instructor, Decision Analysis and Quantitative Methods</h3>
<ul>
<li>Academic years 2015-2016 and 2016-17</li> 
<li>Introductory statistics and econometrics course for first-year MPP students</li>
<li>Instructors: Jesse Rothstein and Rucker Johnson- Awarded Outstanding Graduate Student Instructor, Spring 2017</li>
<li>Teaching evaluations [link]</li> 
</ul>

<h2>Undergraduate Courses</h2>
<h3>Lecturer, Introduction to Quantitative Methods</h3>
<ul>
<li>Summer 2016, Summer 2017</li> 
<li>Introductory statistics and econometrics course for first-year MPP students</li>
<li>Introductory statistics and econometrics course for the Public Policy and International Affairs (PPIA) program</li>
<li>Example course materials [link]</li> 
</ul>

<h3>Lecturer, Introduction to Quantitative Methods</h3>
<ul>
<li>Spring 2015</li>
<li>Introductory course on political economy and inequality</li>
<li>Instructor: Robert Reich</li> 
</ul>

{% include base_path %}

{% for post in site.teaching reversed %}
  {% include archive-single.html %}
{% endfor %}
